{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container vwtop14">
    <div class="row">
        <div class="col-lg-12">
                <h6><a href="{% url 'products' %}"> START </a> / SHOPPING CART </h6>
                <h2 class="logo-font"> Your Shopping Cart </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-sm-12 border mx-auto mb-5">
            <!-- If the cart is not empty -->
            {% if cart_items %}
                <div class="table-responsive">
                    <table class="table table-sm table-borderless">
                        <!-- Cart Items -->
                        <thead class="text-black">
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col"></th>
                                <th scope="col">Qty</th>
                                <th scope="col">Price</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                    {% for item in cart_items %}
                        <tr class="">
                            <td class="py-3">
                                <a href="{% url 'product_detail' item.product.id %}">
                                    <img class="img-thumbnail" style="height: 100px;" src="{{ item.product.image.url }}">
                                </a>
                            </td>
                            <td class="py-3">
                                <h6 class=""><strong>{{ item.product.name }}</strong></h6>
                                <p class="small text-muted">SKU: {{ item.product.sku|upper }}</p>
                            </td>
                            <td class="py-3">
                                <form><input type="text"><input type="submit" value="Submit">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <!-- decrese quantity -->
                                        <div class="input-group-prepend d-inline">
                                            <button class="decrement-qty btn border-0 shadow-none" 
                                                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus-circle"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <!-- quantity -->
                                        <div class="d-inline">
                                            <input class="form-control qty_input" type="number"
                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                            data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                        </div>
                                        <!-- increase quantity -->
                                        <div class="input-group-append d-inline">
                                            <button class="increment-qty btn border-0 shadow-none"
                                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus-circle"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </td>
                            <td class="py-3">
                                <h4 class="">{{ item.product.price }}kr</h4>
                            </td>
                            <td class="py-3">
                                <h4 class="">{{ item.product.price }}kr</h4>
                            </td>
                        </tr>
                    {% endfor %}
                        <!-- Cart Summary -->
                        <tr>
                            <td colspan="5" class="pt-5 text-right">
                                <h6>Delivery: {{ delivery|floatformat:2 }}kr</h6>
                                <h4 class="mt-4"><strong>Grand Total: {{ grand_total|floatformat:2 }}kr</strong></h4>
                                {% if free_delivery_delta > 0 %}
                                    <p class="mb-1 text-danger">
                                        You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                                    </p>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                    <!-- Move to payment or browse to more products -->
                    <div class="col-12 d-block right mb-4">
                        <div class="">
                            <button class="btn btn-danger font-weight-bold right" type="submit">
                                <span>CONTINUE TO PAYMENT</span>
                            </button>
                        </div>
                        <div class="">
                            <a href="{% url 'products' %}" class="btn btn-outline-dark font-weight-bold mt-2">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase align-items-center">CONTINUE SHOPPING</span>
                            </a>
                        </div>
                    </div>
                </div>
            <!-- Otherwise, if the cart is empty -->
            {% else %}
                <h6>Your shopping bag is empty.</h6>
                <a class="btn btn-outline-dark center m-1" href="{% url 'products' %}">
                    <span class="">CONTINUE SHOPPING</span>
                </a>
            {% endif %}
        </div>
    </div>

</div>
{% endblock content %}