{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid grey lighten-5">
        <!-- Landing Banner -->
        {% load static %}
        <div class="row">
            <img class="col-lg-12 col-sm-12 d-none d-lg-block landing" id="landing-image" src="{% static 'img/atikh-bana-FtBS0p23fcc-unsplash-horizontal.jpg' %}">
            <img class="col-lg-12 col-sm-12 d-lg-none landing " id="landing-image-mobile" src="{% static 'img/atikh-bana-FtBS0p23fcc-unsplash-vertical.jpg' %}">
            <div class="col-lg-6 col-sm-12 pl-5 pr-5 position-absolute text-lg-left text-center">
                <div class="mx-auto pt-5">
                    <h1 id="landing-text" class="text-uppercase">Welcome back!</h1>
                    <h3 class="d-none d-lg-block">Enjoy browsing through our latest goodies..</h3>
                    <!-- Shop Now Button -->
                    <a href="{% url 'products' %}" class="mt-5 shop-now-button btn btn-primary btn-lg h-75 black rounded-0 text-uppercase text-white" id="btn-shop"> Shop Now </a>
                </div>
            </div>
        </div>          
        <!-- Categories Banners -->
        <div class="row">
            {% for product in products %}
            <div class="col-lg-4 col-sm-12 landing-cat">
                <p>{{ product.category }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}