/*--------------------------------------------general*/
html{
    height: 100%;
}
body{
    background-size: cover;
    height: calc(100vh - 164px);
    color: black;
    font-family: 'Lato', sans-serif;
}
h1{
    font-size: 3em;
}
h4{
    font-size: 1.5em;
}
h5{
    font-size: 1.25em;
}
h6{
    font-size: 1em;
}
a{
    color: inherit;
}

/*--------------------------------------------messages*/
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;

    overflow: visible;
}

/*--------------------------------------------navbar*/
#topnav{
    margin-bottom: 0px !important;
}
.text-handwriten{
    font-family: 'Caveat', cursive;
    font-size: bold;
}
.font-2em{
    font-size: 2em;
}
/*-----------------------------------icons*/
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
/*-----------------------------------badges*/
#badge-notification{
    background-color: #555;
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}
#cart-badge{
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: black;
    color: white;
}
/*------------------------------------buttons*/

/*-----------------------------------landing*/
.landing{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover !important;
}
#logo-image{
    height: 5vw;
    width: auto;
    background-size: contain;
}
#landing-text{
    margin-top: 4vw !important;
    padding-top: 4vw !important;
    z-index: 1;
}
/*-----------------------------------categories*/
.landing-cat{
    height: 10vw;
    background-color: black;
    border: 16px solid white;
}
.cat-categories{
    height: 8vw;
    border: 4px solid white;   
}
.bg-categories{
    height: 4vw;
}
/*-----------------------------------products*/
.vwtop12{
    margin-top: 12vw;
}
.vwtop14{
    margin-top: 14vw !important;
}
.product-image{
    background-size: contain;
}