/*--------------------------------------------fonts*/
/* @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600;700&family=Montserrat:wght@300;400;500;600&display=swap'); */

/*--------------------------------------------general*/
html{
    height: 100%;
}
body{
    background-size: cover;
    height: calc(100vh - 164px);
    color: black;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 3em;
}

.uppercase {
  text-transform: uppercase;
}

/*--------------------------------------------navbar*/
.text-handwriten{
    font-family: 'Caveat', cursive;
    font-size: bold;
}
.font-2em{
    font-size: 2em;
}
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/*--------------------------------------------buttons*/
.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: #222;
    color: white;
}

/*-----------------------------------landing*/
.landing{
    height: 52vw;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}
.landing-teaser{
    height: 14vw !important;
}
#landing-image{
    height: 100%;
    background: url('../media/atikh-bana-FtBS0p23fcc-unsplash.jpg') no-repeat center center fixed;
}
#logo{
    height: 100%;
    width: auto;
    background-size: contain;
}
#landing-text{
    width: 94%;
    margin-top: 10% !important;
    padding-top: 10% !important;
}
.product{
    height: 12vw;
    width: 6vw;
    background-color: bisque;
}