/*--------------------------------------------fonts*/
/* @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600;700&family=Montserrat:wght@300;400;500;600&display=swap'); */

/*--------------------------------------------general*/
html{
    height: 100%;
}

body{
    background: url('/media/istockphoto-1178634979-2048x2048.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: black;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 3em;
}

/*--------------------------------------------navbar*/
.text-handwriten{
    font-family: 'Caveat', cursive;
    font-size: bold;
}

#just-another-store{
    font-size: 2em;
}

/*--------------------------------------------home*/
#btn-shop{
    font-size: 2em;
}


/*-----------------------------------landing*/
.landing{
    height: 52vw;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}
.landing-teaser{
    height: 14vw !important;
}
#logo{
    height: 100%;
    width: auto;
    background-size: contain;
}
#landing-text{
    width: 94%;
    margin-top: 10% !important;
    padding-top: 10% !important;
}

.product{
    height: 12vw;
    width: 6vw;
    background-color: bisque;
}