{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/profiles.css' %}">
{% endblock %}

{% block content %}
<!-- Form information to fill in -->
<div class="container vwtop14">
    <div class="row">
        <div class="col-lg-12">
            <h6><a href="{% url 'products' %}"> START </a> / PROFILE </h6>
            <h2 class="logo-font"> My Profile </h2>
        </div> 
    </div>
    <div class="row">
        <div class="col-12">
            <h4>Welcome <strong>{{ profile }}</strong>, we are happy to have you back! </h4>
        </div>
        <div class="col-10">
            <h6 class="mt-3">Delivery Information</h6>
            <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-outline-dark font-weight-bold right">SAVE</button>
            </form>
        </div>
        <div class="col-10">
            <h6 class="mt-5">Order History</h6>
            <div class="table-responsive">
                <table class="table tableborderless">
                    <thead>
                        <th>Date</th>
                        <th>Product</th>
                        <th></th>
                        <th>Qty:</th>
                        <th>Price</th>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <p>Order number: {{ order.order_number|truncatechars:12 }}</p>
                        <tr>
                            <td>{{ order.date }}</td>
                            {% for item in order.lineitems.all %}
                            <td><img class="img-thumbnail product-image" src="../media/{{ item.product.image }}" alt="" style="height: 750px; width: 750px;"></td>
                            <td>{{ item.product.name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.lineitem_total }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %} 

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}