{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid grey lighten-5">
        <!-- Landing Banner -->
        <div class="row">
            <img class="col-lg-12 landing" src="../../media/atikh-bana-FtBS0p23fcc-unsplash.jpg">
            <div class="col-lg-6 pl-8 pr-8 mx-auto position-absolute text-lg-left text-center">
                <h1 class="pt-8" id="landing-text">PLACEHOLDER FOR TEXT ABOUT NEW COLLECTION</h1>
                <a href="{% url 'products' %}" class="mx-auto shop-now-button btn btn-lg black rounded-0 text-uppercase text-white">Shop Now</a>
            </div>
        </div>
        <!-- Product Categories -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>PLACEHOLDER FOR PRODUCT CATEGORIES</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 border yellow landing-teaser mx-1">
            </div>
            <div class="col-lg-4 border yellow landing-teaser mx-1">
            </div>
            <div class="col-lg-4 border yellow landing-teaser mx-1">
            </div>
        </div>
        <!-- Browse through products -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>BROWSE THROUGH OUR PRODUCTS</h1>
                <h1>{{ name }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 product">
                <div class="card">
                    <div class="card-image">
                        <!-- <img class="responsive-img card-content w-100" src="{{ object.image }}" alt="{{ object.product }}{{ object.variant }}">
                        <h2 class= "card-title">{{ object.category }}</h2>
                        <h1 class= "card-title">{{ object.brand }}, {{ object.product }}</h1> -->
                    </div>
                    <div class="card-content">
                        <!-- <p>{{ object.productDescription }}</p>
                        <h3>{{ object.price }}</h3> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}