<!DOCTYPE html>
<html>
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="{% url 'home'%}">Home</a></li>
  <li><a href="#!">two</a></li>
  <li><a href="#!">three</a></li>
</ul>

<!-- Navigation Menu -->
<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-dark black">
            <!-- Just Another Store Text -->
            <div class="col-3">
                <a class="navbar-brand text-handwriten" id="just-another-store" href="{% url 'home' %}">Just Another Store</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <!-- Navigation Options -->
            <div class="col 9">              
                <div class="collapse navbar-collapse d-flex justify-content-end">
                    <ul class="navbar-nav">
                        <!-- Home -->
                        <li class="nav-item p-2">
                            <a class="nav-link" href="#">
                            <i class=""></i>
                            HOME
                            </a>
                        </li>
                        <!-- Products -->
                        <li class="nav-item p-2">
                            <a class="nav-link" href="#">
                            <i class=""></i>
                            PRODUCTS
                            </a>
                        </li>
                        <!-- Account -->
                        <li class="nav-item p-2 dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user-circle"></i>
                            ACCOUNT
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                    <a class="dropdown-item" href="#">Manage products</a>
                                    {% endif %}
                                    <a class="dropdown-item" href="#">My Profile</a>
                                    {% else %}
                                    <a class="dropdown-item" href="#">Register</a>
                                    <a class="dropdown-item" href="#">Login</a>
                                {% endif %}
                            </div>
                        </li>
                        <!-- My cart -->
                        <li class="nav-item p-2">
                            <a class="nav-link" href="#">
                            <i class="fas fa-shopping-basket"></i>
                            MY CART
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
</html>