<!DOCTYPE html>
<html>


<!-- Navigation Menu -->
<div class="container-fluid fixed-top">
    <div class="row black d-none d-lg-flex p-2">
        <div class="col-12 col-lg-4 text-center text-lg-left">
            <a href="{% url 'home' %}">
                <h1 class="text-handwriten font-2em text-white">Just Another Store</h1>
            </a>
        </div>
        <div class="col-12 col-lg-4"></div>
        <div class="col-12 col-lg-4">
            <ul class="list-inline list-unstyled text-center text-lg-right">
                <!-- MY ACCOUNT -->
                <li class="list-inline-item dropdown">
                    <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                                <div><i class="fas fa-user fa-lg text-white"></i></div>
                                <p class="my-0 text-white">My Account</p>
                            </div>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                    <!-- if the user is authenticated then -->
                        {% if request.user.is_authenticated %}
                            <!-- if the user is a superuser -->
                            {% if request.user.is_superuser %}
                                <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                            <!-- if user is not a superuser -->
                            {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        <!-- if the user not authenticated then -->
                        {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </li>
                <!-- MY SHOPPING CART -->
                <li class="list-inline-item text-white">
                    <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="">
                        <div class="text-center">
                            <div><i class="fas fa-shopping-bag fa-lg text-white"></i></div>
                            <p class="my-0 text-white">
                                {% if grand_total %}
                                    ${{ grand_total|floatformat:2 }}
                                {% else %}
                                    $0.00
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</html>