{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        {% for product in products %}
        <!-- PRODUCT CARD -->
        <div class="col s12 m4 l3 card">
             <!-- Card Image -->
            <div class="card-image my-auto mx-auto">
                <img class="product-image" src="../media/{{ product.image }}" alt="{{ product.brand }} {{ product.name }}">
            </div>
            <!-- Card Context -->
            <div class="card-content text-center">
                <h3>{{ product.brand }}</h3>
                <h2 class="text-white bg-dark text-handwriten align-items-center">{{ product.name }}</h2>
                <h2>{{ product.price }} kr</h2>
            </div>
            <!-- Card Call to Action -->
            <div class="card-action my-auto mx-auto">
                <button class="btn btn-secondary btn-lg bg-dark">
                    <a class="text-white my-auto mx-auto" href="#">ADD TO CART</a>
                </button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}