{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container vwtop14">
    <div class="row">
        <!-- PRODUCT DETAIL -->
        <div class="card d-block">
            <!-- Card Image -->
            <div class="col-lg-6 left">
                <div class="card-image my-auto mx-auto mb-0">
                    {% if product.image %}
                    <a href="{% url 'product_detail' product.id %}">
                    <img class="product-image" src="../media/{{ product.image }}" alt="{{ product.brand }} {{ product.name }}">
                    {% else %}
                    </a>
                    <a href="{% url 'product_detail' product.id %}">
                    <img class="product-image" src="../media/missing-image.jpg" alt="{{ product.brand }} {{ product.name }}">
                    </a>
                    {% endif %}
                </div>
            </div>
            <!-- Card Content -->
            <div class="col-lg-6 right mx-auto my-auto">
                <div class="card-content text-left mb-0">
                    <h6>HOME/ {{ product.category|upper }}</h6>
                    <div class="mt-5">
                        <!-- Card Text -->
                        <h4 class="font-weight-bold">{{ product.brand|upper }}</h4>
                        <h5 class="align-items-center">{{ product.name|lower|capfirst }}</h5>
                        {% if product.rating %}
                            <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                        {% else %}
                            <small class="text-muted">No Rating</small>
                        {% endif %}
                        <h4>{{ product.price }} kr</h4>
                        <p>*Free delivery from 50 EUR</p>
                    </div>
                    <!-- Card Call to Action -->
                    <div class="mt-4">
                        <button class="btn btn-outline-light font-weight-bold bg-danger text-white" type="submit">
                            <span>BUY</span>
                        </button>
                    </div>
                    <div class="mt-5">
                        <h6>PRODUCT DESCRIPTION</h6>
                        <span>
                            {{ product.description|lower|capfirst }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <h2 class="text-handwriten">Missing something? </h2>
        <span> </span>
        <h3>Take a look at our other product categories</h3>
    </div>
    <!-- Category banners - scroll down, continue browsing other categories -->
    <div class="row justify-content-center">
        {% for category in categories %}
        <div class="col-lg-3 col-sm-6 my-auto mx-auto bg-categories img-responsive">
            <h4 class="text-center text-white py-5">{{ category.display_name|upper }}</h4>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}