{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container vwtop14">
    <div class="row">
        <!-- PRODUCT DETAIL -->
        <div class="card d-block">
            <!-- Card Image -->
            <div class="col-lg-6 col-sm-12 left">
                <div class="card-image my-auto mx-auto mb-0">
                    {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                        <img class="product-image" src="../media/{{ product.image }}" alt="{{ product.brand }} {{ product.name }}">
                        {% else %}
                        </a>
                        <a href="{% url 'product_detail' product.id %}">
                        <img class="product-image" src="../media/missing-image.jpg" alt="{{ product.brand }} {{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <!-- Card Content -->
            <div class="col-lg-6 col-sm-12 right mx-auto my-auto">
                <div class="card-content text-left mb-0">
                    <h6>START / {{ product.category|upper }} / {{product.brand|upper}}</h6>
                    <div class="mt-4">
                        <!-- Card Text -->
                        <h4 class="font-weight-bold">{{ product.brand|upper }}</h4>
                        <h5 class="align-items-center">{{ product.name|lower|capfirst }}</h5>
                        {% if product.rating %}
                            <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                        {% else %}
                            <small class="text-muted">No Rating</small>
                        {% endif %}
                        <h4>{{ product.price }} kr</h4>
                        <p>*Free delivery from {{ free_delivery_threshold }} SEK</p>
                    </div>
                    <!-- Card Call to Action -->
                    <div class="mt-5 d-inline">
                        <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-12">
                                    <p class="mt-3"><strong>Quantity:</strong></p>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <!-- decrese quantity -->
                                            <div class="input-group-prepend d-inline">
                                                <button class="decrement-qty btn border-0 shadow-none" 
                                                    data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-minus-circle"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <!-- quantity -->
                                            <div class="d-inline">
                                                <input class="form-control qty_input" type="number"
                                                name="quantity" value="1" min="1" max="99"
                                                data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}"
                                                style="box-shadow: none!important; text-align: center;">
                                            </div>
                                            <!-- increase quantity -->
                                            <div class="input-group-append d-inline">
                                                <button class="increment-qty btn border-0 shadow-none right"
                                                    data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-plus-circle"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <input type="submit" class="btn btn-outline-danger font-weight-bold" value="Add to Bag">
                                </div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>
                        </form>
                        <div>
                            <a href="{% url 'products' %}" class="btn btn-outline-dark font-weight-bold mt-2">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase align-items-center">Keep Shopping</span>
                            </a>
                        </div>
                        </div>
                        </div>
                        <div class="mt-5">
                            <h6>PRODUCT DESCRIPTION</h6>
                            <span>
                                {{ product.description|lower|capfirst }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Browse through products within the same category -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mt-5">
                <h3 class="">OTHER SUGGESTIONS WITHIN {{ product.category|upper }} </h3>
            </div>
        </div>
        <div class="row">
            {% for prod in products %}
            {% if prod.category == product.category and prod.id != product.id %}
            {% if forloop.counter <= 4 %}
            <div class="col-lg-3">
                <div class="card h-80 border-0">
                    <!-- Card Image -->
                    <div class="card-image my-auto mx-auto mb-0">
                        {% if prod.image %}
                        <a href="{% url 'product_detail' prod.id %}">
                        <img class="product-image" src="../media/{{ prod.image }}" alt="{{ prod.brand }} {{ prod.name }}">
                        {% else %}
                        </a>
                        <a href="{% url 'product_detail' prod.id %}">
                        <img class="product-image" src="../media/missing-image.jpg" alt="{{ prod.brand }} {{ prod.name }}">
                        </a>
                        {% endif %}
                    </div>
                    <!-- Card Content -->
                    <div class="card-content text-center mb-0">
                        <!-- Card Text -->
                        <h6 class="font-weight-bold">{{ prod.brand }}</h6>
                        <h6 class="align-items-center">{{ prod.name|lower|capfirst }}</h6>
                        <h4>{{ prod.price }} kr</h4>
                        <!-- Category tag -->
                        {% if prod.category %}
                        <p class="small mt-1 mb-0">
                            <a class="text-muted" href="{% url 'products' %}?category={{ prod.category.name }}">
                                <i class="fas fa-tag mr-1"></i>{{ prod.category.display_name }}
                            </a>
                        </p>
                        {% endif %}
                        <!-- Rating -->
                        {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ prod.rating }} / 5</small>
                        {% else %}
                        <small class="text-muted">No Rating</small>
                        {% endif %}
                        <!-- Card Call to Action -->
                        <div class="pt-3">
                            <button class="btn btn-outline-dark font-weight-bold" type="submit">
                                <span>BUY</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
<!-- Browse other categories -->
    <div class="row">
        <div class="col-lg-12 mt-5">
            <h3 class="">MISSING SOMETHING? </h3>
            <h6>Take a look at our other product categories</h6>   
        </div>
        {% for category in all_categories %}
            {% if forloop.counter <= 4 and category.teaser is not empty %}
            <div class="col-lg-6 col-sm-6 h-100 my-auto mx-auto p-3">
                <a href="{% url 'products' %}?category={{ category.name }}">
                <img class="responsive-img" src="../media/{{ category.teaser }}" alt="{{ category.name }}">
                </a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input.html' %}
{% endblock %}